.Loader {
    overflow: hidden;
    flex-direction: column;
    margin: 200px auto 10% auto;
    padding: 20px;
    text-align: center;
    height: 100%;


}

.LoaderText {
    margin-top: 10px;
    /* margin-bottom: 70px; */
    font-weight: 800;
    text-transform: uppercase;
    color: var(--text);
    overflow: hidden;
}

.dots-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;

}

.dot {
    height: 50px;
    width: 50px;
    margin-right: 10px;
    border-radius: 40px;
    background-color: var(--text2);

    animation: pulse 1.5s infinite ease-in-out;
}

.dot:last-child {
    margin-right: 0;
}

.dot:nth-child(1) {
    animation-delay: -0.3s;
}

.dot:nth-child(2) {
    animation-delay: -0.1s;
}

.dot:nth-child(3) {
    animation-delay: 0.1s;
}

@keyframes pulse {
    0% {
        transform: scale(0.8);
        background-color: var(--text2);

        box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
    }

    50% {
        transform: scale(1.2);
        background-color: var(--text);
        box-shadow: 0 0 0 10px rgba(178, 212, 252, 0);
    }

    100% {
        transform: scale(0.8);
        background-color: var(--text2);
        box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
    }
}