/* ReviewPopup.css */
.ReviewPopup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 5px solid var(--theme);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 999;
    padding: 20px;
    text-align: center;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.3s, transform 0.3s;
    visibility: hidden;
    /* font-family: 'Poppins', sans-serif; */

    /* Initial visibility set to hidden */
}

.ReviewPopup.show {
    opacity: 1;
    transform: translate(-50%, -50%) translateY(0);
    visibility: visible;
}

.PopupHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    /* background: red; */
}

.HeaderName {
    color: var(--text);
}

.PopupHeader h3 {
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
}


.PopupHeader button {
    background: none;
    border: none;
    color: var(--text);
    cursor: pointer;
    font-size: 1.5em;
}

.PopupHeader button:hover {
    color: var(--theme);
}

.PopupHeader img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.RatingContainer {
    margin-bottom: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    /* Make sure stars are in a row */
    /* direction: ltr; */
    align-items: center;
    /* justify-content: space-between; */
    /* gap: 20px; */
}

.RatingContainer p {
    margin-right: 20px;
    font-weight: 600;
    color: var(--theme);
}

.Star {
    font-size: 2em;
    color: #ddd;
    margin: 0 5px;
    cursor: pointer;
    transition: color 0.3s ease;
    direction: ltr;
}

.Star:hover {
    color: var(--text);
    /* Change to the desired color */
}

.Star.selected {
    color: var(--text);
}

.WriteAReview {
    color: var(--theme);
    font-weight: 600;

}

.ReviewPopup textarea {
    width: 100%;
    height: 150px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid var(--theme);
    border-radius: 10px;
    /* background: var(--theme); */
}

.ReviewPopup button {
    /* background-color: var(--theme); */
    color: var(--text);
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: 0.5s ease;


}

.ReviewPopup .ReviewSubmit {
    background: var(--text);
    border: 5px solid var(--theme);
    color: white;
    position: absolute;
    padding: 5px 20px;

    top: 95%;
    /* left: 0; */
    right: 100px;
    width: 40%;
    border-radius: 20px;
}

.ReviewPopup button:hover {
    background-color: var(--text2);
    letter-spacing: 1.2px;
    color: whitesmoke
}

.ReviewError {
    color: var(--text);
    font-weight: 700;
    margin-bottom: 10px;
}