.Profile {
    /* padding: 20px; */
    font-family: 'Poppins', sans-serif;
    margin-bottom: 5%;
    display: flex;
    overflow: hidden;
    flex-direction: column;

}




.ProfileBack {
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    margin: 200px 0 0 30px;
    justify-content: space-evenly;
    position: relative;
}

.ProfileLeft {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.ProfileImgContainer {
    /* width: 200px; */
    position: relative;
    /* height: 100%; */
}

.ProfileImgContainer img {
    width: 300px;
    height: 400px;
    filter: brightness(70%);
    border-radius: 10px 10px 0 0;
}

.ProfileImgText {
    position: absolute;
    display: flex;
    bottom: 0;
    padding: 20px;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.ProfileImgText h2 {
    background: var(--theme);
    padding: 5px;
    color: var(--bg);
    font-size: 0.8em;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-transform: uppercase;
}

.EditButton {
    color: var(--bg);
    font-size: 2em;
    padding: 0;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 1);
    transition: 0.5s all ease;
    background: none;
    border: none;
    cursor: pointer;
    background-color: var(--text);
    height: 50px;
    padding: 5px;
    border-radius: 10px;
}

.EditButton:hover {
    color: var(--bg);
    transform: scale(1.2)
}

.ProfileInfo {
    background: var(--theme);
    margin-top: -10px;
    padding: 15px;
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* height: 170px; */
    gap: 10px;
    width: 300px;
    box-sizing: border-box;
    /* flex-wrap: wrap; */

}

.ProfileInfoField {
    display: flex;
    justify-content: space-between;
    color: var(--bg);
    align-items: center;
    box-sizing: border-box;
}

.ProfileInfoField p:first-child {
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 5px;
    text-transform: uppercase;
}

.ProfileInfoAddress {
    font-size: 0.6em;
    white-space: wrap;
}








.ProfileRight {
    /* background: var(--theme); */
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 10px;
    gap: 20px;
}


.ProfileRight h1 {
    color: var(--text);
    text-transform: uppercase
}

.ReviewCard {
    display: flex;
    gap: 20px;
    align-items: center;

}



.ReviewCardLeft {
    display: flex;
    flex-direction: column;
    /* box-sizing: border-bosx; */
    /* white-space: wrap; */
    width: 100px;
    gap: 5px;
    align-items: center;

}

.ReviewCard .ReviewCardLeft img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px var(--theme) double;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.ReviewCardLeft p {
    text-align: center;
    font-size: 0.8em;
    font-weight: 600;
    text-transform: uppercase;
    /* margin-left: -10px; */
}

.ReviewCardRight .SellerRatings {
    justify-content: flex-end !important;
}


.PayFineButton {
    position: absolute;
    right: 10%;
    bottom: 0;
    display: flex;
    align-items: center;
    gap: 5px;
    border: 4px solid var(--text);
    background: none;
    border-radius: 20px;
    padding: 10px;
    font-size: 1.2em;
    cursor: pointer;
    transition: 0.5s all ease-in-out;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.PayFineButton:hover {
    color: var(--bg);
    background: var(--text);
    box-shadow: none;
    transform: scale(0.9);
}



.ApprovalIconContainer {
    margin: auto;
}

.ApprovalIcon {
    font-size: 9em;
    color: var(--bg)
}

.ApprovalText {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    color: var(--bg)
}

.ApprovalText h3 {
    color: var(--text);
    text-transform: capitalize;
}


.EditUserImage {
    width: 50%;
    /* height: 200px; */
    margin: 10px auto;
    border: 3px double var(--bg);
    border-radius: 100px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}




@media screen and (max-width: 768px) {


    .ProfileBack {
        flex-direction: column;
        margin: 60px auto 0 auto;
    }


    .ProfileRight {
        /* background: var(--theme); */
        display: flex;
        flex-direction: column;
        width: 60%;
        padding: 10px;
        gap: 20px;
        /* margin: auto; */
    }


    .ProfileRight h1 {
        color: var(--text);
        text-transform: uppercase;
        /* text-align: center; */
        /* margin: auto; */
    }




    .ReviewCardLeft {
        display: flex;
        flex-direction: column;
        /* box-sizing: border-bosx; */
        /* white-space: wrap; */
        width: 100px;
        gap: 5px;
        align-items: center;

    }

    .ReviewCard .ReviewCardLeft img {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 3px var(--theme) double;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    }

    .ReviewCardLeft p {
        text-align: center;
        font-size: 0.8em;
        font-weight: 600;
        text-transform: uppercase;
        /* margin-left: -10px; */
    }

    .ReviewCardRight .SellerRatings {
        justify-content: flex-end !important;
    }


    .PayFineButton {
        position: relative;
        right: 0;
        left: 0;
    }



}