.Sell {
    /* padding: 20px; */
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10%;
    display: flex;
    overflow: hidden;
    flex-direction: column;

}


.SellFormContainer {
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: -100px;
    display: flex;
    flex-direction: column;
    margin: 200px auto 0 auto;
    background: var(--theme);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 20px;
    width: 25%;


}

.SellButtons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    background: var(--bg);
    /* padding: 10px 20px; */
    border-radius: 30px;
    width: fit-content;
    margin: auto;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */

}

.SellButton {
    font-size: 1.3em;
    text-decoration: none;
    color: var(--text);
    text-transform: uppercase;
    font-weight: 700;
    padding: 5px 20px;
}

.SellButton.active {
    color: var(--bg);
    /* background: var(--text); */
    background: linear-gradient(90deg, rgba(244, 80, 80, 1) 0%, rgba(219, 48, 48, 1) 100%);
    border-radius: 30px;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset; */
}


.SellFormContainer h2 {
    margin: 0;
    /* display: flex; */
    /* justify-content: center; */
    text-align: center;
    color: var(--bg);
    margin: 20px auto;
    font-size: 1.5em;
    font-weight: 800;
    color: var(--theme);
    background: var(--bg);
    width: fit-content;
    padding: 5px 10px;
    border-radius: 10px;
}


.Form .SubmitButton {
    /* position: absolute; */
    background: transparent;
    border: 5px solid var(--text);
    color: white;
    padding: 5px 20px;
    font-size: 0.9em;
    /* width: fit-content; */
    border-radius: 10px;
    transition: all 0.5s;
    cursor: pointer;
}

.SubmitButton:hover, .ChangeStatusFormButton:hover {
    background-color: var(--text);
    letter-spacing: 1.2px;
    color: whitesmoke;
}


.ChangeStatusFormButton {
    /* width: 50%; */
    /* margin: auto; */
    padding: 5px;
    transition: 0.5s ease all;
    color: var(--bg);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 5px;
    background: var(--text);
    border: 5px solid var(--text);
    color: white;
    font-size: 0.6em;
    border-radius: 10px;
    cursor: pointer;
}

/* input[type="checkbox"] {
    display: grid;
    place-content: center;
}


input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--text);
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
} */



.CategoryInput input[type="checkbox"] {
    display: none;
}

.CategoryInput input[type="checkbox"]+label {
    display: flex;
    position: relative;
    padding-left: 25px;
    margin-bottom: 20px;
    align-items: center;
    /* margin-top: 3px; */
    /* font: 14px/20px; */
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.CategoryInput input[type="checkbox"]:hover+label:hover {
    color: var(--text);
}

.CategoryInput input[type="checkbox"]:hover+label:before {
    background: var(--text);
    box-shadow: inset 0px 0px 0px 2px #f7f2f2;
}

.CategoryInput input[type="checkbox"]+label:last-child {
    margin-bottom: 0;
}

.CategoryInput input[type="checkbox"]+label:before {
    content: "";
    display: block;
    width: 1em;
    height: 1em;
    border: 1px solid #343a3f;
    border-radius: 0.2em;
    position: absolute;
    left: 0;
    /* top: 0; */
    -webkit-transition: all 0.2s, background 0.2s ease-in-out;
    transition: all 0.2s, background 0.2s ease-in-out;
    background: #f3f3f3;
}

.CategoryInput input[type="checkbox"]:checked+label:before {
    width: 0.9em;
    height: 0.9em;
    border-radius: 0.2em;
    border: 2px solid #fff;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    background: var(--text);
    box-shadow: 0 0 0 1px #000;
}



@media screen and (max-width: 768px) {

    .Sell {
        padding: 20px;

    }

    .SellFormContainer {
        width: 100%;


    }
}