.Payment {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding-bottom: 60px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.Payment form {
    background: white;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, .1);
    padding: 20px;
    width: 600px;
    padding-top: 160px;
    border-radius: 20px;
    margin-top: 20px;
}

.Payment form .PaymentInput {
    margin-top: 20px;
}

.Payment form .PaymentInput span {
    display: block;
    color: var(--theme2);
    padding-bottom: 5px;
}

.Payment form .PaymentInput input,
.Payment form .PaymentInput select {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, .3);
    color: #444;
}

.Payment form .flexbox {
    display: flex;
    gap: 15px;
}

.Payment form .flexbox .PaymentInput {
    flex: 1 1 150px;
}

.Payment form .submit-btn {
    width: 100%;
    /* background-color: #FBDA61; */
    background-image: linear-gradient(45deg, var(--theme) 0%, var(--bg) 100%);
    margin-top: 20px;
    padding: 10px;
    font-size: 20px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s linear;
    border: none
}

.Payment form .submit-btn:hover {
    letter-spacing: 2px;
    opacity: .8;
}

.Payment .PaymentCardContainer {
    margin-bottom: -150px;
    position: relative;
    height: 250px;
    width: 400px;
    margin-top: 100px;
}

.Payment .PaymentCardContainer .VisaCardFront {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #FBDA61;
    /* background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%); */
    background-image: linear-gradient(45deg, var(--theme) 0%, var(--bg) 100%);
    border-radius: 20px;
    backface-visibility: hidden;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .2);
    padding: 20px;
    transform: perspective(1000px) rotateY(0deg);
    transition: transform .4s ease-out;
}

.Payment .PaymentCardContainer .VisaCardFront .VisaCardImage {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}

.Payment .PaymentCardContainer .VisaCardFront .VisaCardImage img {
    height: 50px;
}

.Payment .PaymentCardContainer .VisaCardFront .VisaCardBoxNo {
    padding: 30px 0;
    font-size: 22px;
    color: #fff;
}

.Payment .PaymentCardContainer .VisaCardFront .VisaCardDetails {
    display: flex;
}

.Payment .PaymentCardContainer .VisaCardFront .VisaCardDetails .VisaCardBox:nth-child(1) {
    margin-right: auto;
}

.Payment .PaymentCardContainer .VisaCardFront .VisaCardDetails .VisaCardBox {
    font-size: 15px;
    color: #fff;
}

.Payment .PaymentCardContainer .VisaCardBack {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #FBDA61;
    /* background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%); */
    background-image: linear-gradient(45deg, var(--theme) 0%, var(--bg) 100%);
    border-radius: 20px;
    padding: 20px 0;
    text-align: right;
    backface-visibility: hidden;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .2);
    transform: perspective(1000px) rotateY(180deg);
    transition: transform .4s ease-out;
}

.Payment .PaymentCardContainer .VisaCardBack .VisaCardStripe {
    background: #000;
    width: 100%;
    margin: 10px 0;
    height: 50px;
}

.Payment .PaymentCardContainer .VisaCardBack .VisaCardBox {
    padding: 0 20px;
}

.Payment .PaymentCardContainer .VisaCardBack .VisaCardBox span {
    color: #fff;
    font-size: 15px;
}

.Payment .PaymentCardContainer .VisaCardBack .VisaCardBox .CardCVV {
    height: 50px;
    padding: 10px;
    margin-top: 5px;
    color: #333;
    background: #fff;
    border-radius: 5px;
    width: 100%;
}

.Payment .PaymentCardContainer .VisaCardBack .VisaCardBox img {
    margin-top: 30px;
    height: 30px;
}

.display {
    font-size: 30px;
    position: absolute;
    top: 380px;
    left: 1200px;
    cursor: pointer;
    background-color: #FBDA61;
    /* background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%); */
    background-image: linear-gradient(45deg, var(--theme) 0%, var(--bg) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all .2s ease-in-out;
}

.display:hover {
    transform: scale(1.2);
}














/* Keyframes */
@keyframes menu_puls {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(1.4);
    }
}

@keyframes text_reveal_box {
    50% {
        width: 100%;
        left: 0;
    }

    100% {
        width: 0;
        left: 100%;
    }
}

@keyframes text_reveal {
    100% {
        color: white;
    }
}

@keyframes text_reveal_name {
    100% {
        color: crimson;
        font-weight: 500;
    }
}



/* Media Section */

@media(max-width: 700px) {


    #home h1 {
        font-size: 34px;
    }

    #about h1 {
        font-size: 34px;
    }

    .contact h1 {
        font-size: 24px;
    }

    .row {
        flex-direction: column;
    }


}


@media only screen and (min-width: 1200px) {


    #header .menu {
        display: none;
    }

    #header .nav-list ul {
        position: initial;
        display: block;
        height: auto;
        width: fit-content;
        background-color: transparent;
    }

    #header .nav-list ul li {
        display: inline-block;
    }

    #header .nav-list ul li a {
        font-size: 1.8rem;
    }

    #header .nav-list ul a:after {
        display: none;
    }
}