/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Varela+Round&display=swap');
/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Varela Round', sans-serif; */


:root {
  --theme: #3C486B;
  --theme2: #2e3240;
  --text: #F45050;
  --text2: #db3030;
  --bg: #DBECF3;
  --bg2: #b6deee;
}





/* ScrollBar */
*::-webkit-scrollbar {
  width: 10px;
  border-radius: 20px
}

*::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 20px
}

*::-webkit-scrollbar-thumb {
  background: var(--theme);
  border-radius: 20px
}

body {
  background: var(--bg);
  margin: 0;
  padding: 0;
}