.Admin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 160px;
    /* gap: 10px; */
    /* background: red; */
}

.Admin h2 {
    text-transform: uppercase;
    color: var(--text);
    font-size: 2em
}

.AdminTopRow {
    display: flex;
    margin-top: 10px;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}


.SearchBox {
    display: flex;
    width: 500px;
    /* max-width: 930px; */
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    background: var(--text);
    border-radius: 20px;
    position: relative;
    color: var(--bg);
    height: fit-content;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.searchButton {
    color: white;
    position: absolute;
    right: 8px;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    background: var(--gradient-2, linear-gradient(90deg, var(--theme) 0%, var(--theme2)));
    border: 0;
    display: inline-block;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    cursor: pointer;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*hover effect*/
.SearchBox button:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.5) 0 10px 20px;
    transform: translateY(-3px);
}

/*button pressing effect*/
.SearchBox button:active {
    box-shadow: none;
    transform: translateY(0);
}

.searchInput {
    border: none;
    background: none;
    outline: none;
    color: white;
    font-size: 15px;
    width: 96%;
    padding: 24px 46px 24px 26px;
}

.searchInput::placeholder {
    color: var(--bg);
    opacity: 0.7;
    /* Firefox */
}



.InfoCard {
    background: var(--text);
    /* padding: 10px; */
    display: flex;
    border-radius: 20px;
    align-items: center;
    padding: 15px 20px;
    gap: 20px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.InfoCard .InfoCardIcon {
    color: var(--bg);
    font-size: 2em
}

.InfoCardText {
    text-align: center;
    padding: 5px;
    background: var(--bg);
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}

.InfoCardText h3 {
    color: var(--text);
    font-weight: 900;
}


.AdminBottomRow {
    margin-top: 20px;
    width: 100%;
}

.AdminBottomRow table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.AdminBottomRow table tr {
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    width: 60%;
    padding: 15px 10px;
    text-align: center;
    margin: 10px auto;
    color: var(--bg);
    position: relative;
    border-radius: 5px;
    align-items: center;
}

.AdminBottomRow table tr.TableHeading {
    background: var(--text);
    border-radius: 10px 10px 0 0;
    color: var(--bg);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;


}

.AdminBottomRow table tr th {
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    width: 100px;
    justify-content: center;
    text-align: center;
    display: flex;

}


.AdminBottomRow table tr.TableData {
    text-align: center;
    background: var(--theme);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.AdminBottomRow table tr td {
    text-align: center;
    width: 100px;
    font-weight: 600;
    position: relative;
}

.AdminBottomRow table tr.TableData img {
    width: 50%;
    /* height: 50%; */
    border-radius: 20px;

}

.AdminBottomRow table tr.TableData:last-child {
    border-radius: 0 0 10px 10px;
}

.StatusBoxGreen {
    background: #00BF63;
    font-weight: 900 !important;
    text-transform: uppercase;
    padding: 1px 5px;
    border-radius: 5px;
}

.StatusBoxRed {
    background: var(--text);
    font-weight: 900 !important;
    text-transform: uppercase;
    padding: 1px 5px;
    border-radius: 5px;
}

.StatusBoxYellow {
    background: goldenrod;
    font-weight: 900 !important;
    text-transform: uppercase;
    padding: 1px 5px;
    border-radius: 5px;
}

.StatusGreen {
    color: #00BF63;
    font-weight: 900 !important;
    text-transform: uppercase;
}

.StatusRed {
    color: var(--text);
    font-weight: 900 !important;
    text-transform: uppercase;
}

.StatusButton {
    position: absolute;
    top: 90%;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    background: var(--bg);
    border: 3px solid var(--theme);
    padding: 5px;
    border-radius: 20px;
    transition: 0.5s all ease;
    font-weight: 800;
    color: var(--theme);
    width: fit-content
}

.StatusButton:hover {
    background: var(--theme);
    color: var(--bg);
    /* box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transform: scale(1.08);

}

.StatusButton1 {
    left: -60% !important;
}

.StatusButton2 {
    left: 60% !important;
}

.TableButton {
    background: var(--text);
    border: none;
    padding: 5px 20px;
    color: var(--bg);
    border-radius: 10px;
    cursor: pointer;
    font-weight: 800;
    text-transform: uppercase !important;
    transition: 0.5s all ease;
}

.TableButton:hover {
    transform: scale(1.2);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;

}

.DeleteButton {
    position: absolute;
    left: 0;
    bottom: 30%;
    cursor: pointer;
    background: none;
    font-size: 1.4em;
    border: none;
    color: var(--bg);
    transition: 0.5s all ease;
}

.DeleteButton:hover {
    color: var(--text)
}

.PurchaseDate {
    position: absolute;
    left: 0;
    right: 0;
    top: 80%;
    font-size: 0.8em;
    font-weight: 800;
    letter-spacing: 3px;
    background: var(--bg);
    border: 3px solid var(--theme);
    padding: 5px 20px;
    border-radius: 10px;
    transition: 0.5s all ease;
    color: var(--theme);
    width: fit-content;
    margin: auto;
}

.UserEmail {
    font-size: 0.5em;
}